@using Blazor_Lightweight_Charts.Model;
@using Blazor_Lightweight_Charts.Model.Parameters;
@using Blazor_Lightweight_Charts.Model.Series;
@using Blazor_Lightweight_Charts.Model.Parameters.ChartParameters;
@inject LightweighChartsInterop Interop;

<div @ref="ChartReference" class="lightweight-chart">
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    protected ElementReference ChartReference;
    protected ChartApi Chart { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    public bool IsInitialized { get; set; } = false;

    public async void AddSeries<T>(IEnumerable<T> items, string invocation) where T : TimeValueData
    {
        if(Chart == null)
        {
            throw new ArgumentNullException();
        }
        await Chart.AddSeries(items.ToArray(), invocation);
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            ChartOptions options = new ChartOptions()
                {
                    Width = 400,
                    Height = 400
                };
            Chart = await Interop.CreateChart(ChartReference, options);
            IsInitialized = true;
        }
    }
}